# Pandas Tutorial

### Import Data

In [86]:
# Import Module
import pandas as pd
import numpy as np

# Read Data
data = pd.read_csv("pokemon_data.csv") #csv
data_xlsx = pd.read_excel("pokemon_data.xlsx") #xlsx
data_txt = pd.read_csv("pokemon_data.txt", delimiter = "\t") #txt (delimiter)

# See Data
data.head(5) #top5
data_xlsx.tail(5) #tail5
data_txt.sample(5) #random5

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
94,87,Dewgong,Water,Ice,90,70,80,70,95,70,1,False
474,427,Buneary,Normal,NaN,55,66,44,44,56,85,4,False
703,641,TornadusTherian Forme,Flying,NaN,79,100,80,110,90,121,5,True
222,207,Gligar,Ground,Flying,65,75,105,35,65,85,2,False
265,246,Larvitar,Rock,Ground,50,64,50,45,50,41,2,False

### Reading Data

In [87]:
# Reading Headers
data.columns

# Reading each Column
data[["Name"]].head(5)
data[["#", "Name", "Type 1", "Type 2"]].sample(5)

# Reading each Row
data.iloc[0:5] # row ID

## Iterating all Rows
#for index, row in data.iterrows(): # iterating all rows
#    print (index, row["Name"])

# Reading specific location
data.iloc[0,1]

# Reading rows by information
data.loc[data["Type 1"] == "Fire"].head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False

### Sorting/Describing Data

In [88]:
# Describing Data
data.describe()

# Sort Values
data.sort_values("Name", ascending = False)
data.sort_values(["Attack", "#"], ascending = [False, True]).head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True

### Updating Data

In [89]:
# Add a new column (Safer way)
data["Total"] = data.Attack + data.Defense + data["Sp. Atk"] + data["Sp. Def"] + data.Speed + data.HP

# Deleting column
data = data.drop(columns="Total")

# Adding Again in different ways
data["Total"] = sum([data[data.columns[x]] for x in range(4,10)])
data["Total"] = data.iloc[:,4:10].sum(axis = 1)

# Insert Column
cols = list(data.columns.values)
data = data[cols[0:4] + [cols[-1]] + cols[4:12]]
data.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Save Data

In [90]:
#Save data as file
data.to_csv("modified.csv", index = False)
data.to_excel("modified.xlsx", index = False)
data.to_csv("modified.txt", index = False, sep = "\t")

### Filter Data

In [91]:
# AND statement
data.loc[(data["Type 1"] == "Grass") & (data["Type 2"] == "Poison")]

# OR statement
data.loc[(data["Type 1"] == "Grass") | (data["Type 2"] == "Poison")]

# Reset Index
new_data = data.loc[(data["Type 1"] == "Grass") | (data["Type 2"] == "Poison")]
new_data.reset_index(drop = True, inplace = True)
new_data.head(5)

# By string
data.loc[~data["Name"].str.contains("Mega")]
data.loc[data["Name"].str.contains("Mega")]

# RegEx module
import re
data.loc[data["Type 1"].str.contains("Fire|Water", regex = True)] # Fire or Water
data.loc[data["Type 1"].str.contains("fire|water", flags = re.I, regex = True)] # Ignore case
data.loc[data["Name"].str.contains("^pi[a-z]*", flags = re.I, regex = True)].head(5) # Ignore case

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False

### Conditional Changes

In [99]:
# Change Fire to Hell
data.loc[data["Type 1"] == "Fire", "Type 1"] = "Hell" # Change Fire to Hell
data.loc[data["Type 1"] == "Hell", "Type 1"] = "Fire" # Change Fire to Hell

# Change Grass Poison to Itchy Plants
data.loc[data["Total"] > 500, ["Generation", "Legendary"]] = ["Over", "Powered"]
data.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,Over,Powered
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,Over,Powered
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Group By

In [149]:
# Import Modified File
data = pd.read_csv("modified.csv") #csv

# Group By Type 1 and sort by mean of stats sum
data[["Type 1", "Total"]].groupby(["Type 1"]).mean().sort_values("Total", ascending = False).head(5)

# Mean and Sum
df = data[["Type 1", "Total"]].groupby(["Type 1"]).sum() / data[["Type 1", "Total"]].groupby(["Type 1"]).count()
df.sort_values("Total", ascending = False).head(5)

# Double group by
df = data.groupby(["Type 1", "Type 2"]).count()[["#"]]
df.head(5)

                  #
Type 1 Type 2
Bug    Electric   2
       Fighting   2
       Fire       2
       Flying    14
       Ghost      1